html
	head
		title= "Virtual Cache"
		link(rel="stylesheet", href="style.css")
	body
		div
			h1 Current Database
			textarea(rows="100", cols="50")= dbCurrent
		div
			h1 Historical Database
			textarea(rows="100", cols="50")= dbHistory
